@use "./mixins";

// @import url(./mixins.scss);

.container {
  background-color: var(--primaryBg);
  height: calc(100vh - (4 * var(--baseFontSize)));
  @include mixins.border-radius(25px);

  .page-content {
    display: flex;

    .scroll-section {
      height: calc(100vh - (4 * var(--baseFontSize)) - (6 * var(--spacing)) - (2.168 * var(--baseFontSize)));
      overflow: auto;
    }

    &.mobile-view {
      height: calc(100vh - (5 * var(--baseFontSize)) - (2 * var(--spacing)));

      .scroll-section {
        height: calc(100vh - (4 * var(--baseFontSize)) - (5 * var(--spacing)) - (2.168 * var(--baseFontSize)));
        overflow: auto;
      }
    }

    .left-section {
      display: flex;
      width: 66.66%;
      background-color: var(--secondaryBg);
      @include mixins.border-radius(25px);

      .side-panel,
      .detail-panel {
        height: calc(100vh - (4 * var(--baseFontSize)) - (6 * var(--spacing)));
      }

      .side-panel {
        width: 200px;
        min-width: 200px;
        padding: calc(0.5 * var(--spacing)) var(--spacing);
        padding-left: 0;
        border-right: 2px solid var(--lightBorder);
      }
    }

    .right-section {
      width: 33.33%;
    }
  }
}

.profile-picture {
  display: inline-block;
  height: 120px;
  width: 120px;
  transition: transform linear 0.2s;
  background-image: url("../images/avatar.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    transform: scale(1.2);
  }
}

.project-sticky-header {
  position: sticky;
  z-index: 1;
  top: 0px;
  background: var(--secondaryBg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-size: var(--baseFontSize);
  line-height: var(--baseFontSize);
  margin: 0;
  font-family: "gothic", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: var(--spacing);
  background: var(--lightBorder);
}

.panel-enclosure {
  @include mixins.border-radius(15px);
  overflow: visible;
  background: var(--lightBorder);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}