@use "../../../../assets/scss/mixins.scss";

.nav-bar {
  background: var(--primaryBg);
  font-size: 14px;
  color: var(--primaryColorLt);

  .nav-bar-item {
    display: flex;
    align-items: center;
    height: 40px;
    position: relative;
    cursor: pointer;
    transition: all linear 0.2s;

    &.mob-nav-item {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      font-size: 12px;
      flex: 1 1 0;
      color: var(--primaryColor);

      > .pl-sm {
        padding-left: 0px;
      }

      &.active {
        background-color: var(--primaryColor);
        color: var(--primaryBg);
        padding: 5px;
        @include mixins.border-radius(5px);

        &::before {
          content: none;
        }
      }
    }

    &:not(.mob-nav-item) {
      font-size: 16px;
    }

    &:hover {
      color: var(--primaryColor);
    }

    > .fas {
      display: inline-block;
      width: 20px;
    }

    &.active {
      font-weight: 400;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 20px;
        top: 10px;
        width: 4px;
        left: calc(-2em + 4px);
        @include mixins.border-radius(2px);
        background-color: var(--primaryColor);
      }
    }
  }
}
