<div class="container p-md">
  <ng-container *ngIf="globalService.deviceOrientation === 'landscape'">
    <div class="page-content">
      <div class="left-section p-md pr-md pt-lg pb-lg">
        <div class="side-panel center">
          <!-- <h3 class="primary-color mb-lg">{{name | uppercase}}</h3> -->
          <div class="profile-picture circle mb-md"></div>
          <h3 class="mb-sm">Susobhan Dash</h3>
          <div class="fw-400 mb-sm text-primary gothic">
            Principal Engineer, UI
          </div>
          <div class="mt-lg">
            <app-nav-bar
              [model]="navBarItems"
              [orientation]="'vertical'"
              [(activeIdx)]="activeIdx"
            ></app-nav-bar>
          </div>
        </div>
        <div class="detail-panel pl-md">
          <ng-container *ngIf="activeIdx === 0">
            <ng-template *ngTemplateOutlet="aboutMe"></ng-template>
          </ng-container>
          <ng-container *ngIf="activeIdx === 1">
            <ng-template *ngTemplateOutlet="projects"></ng-template>
          </ng-container>
        </div>
      </div>
      <div class="right-section"></div>
    </div>
  </ng-container>
</div>

<ng-template #aboutMe>
  <h1 class="text-primary mb-sm">About Me</h1>
  <div class="scroll-section ta-justify pr-md">
    <p class="text-md mb-sm mt-0">
      I am an UI Developer, with around 6.5 years of experience in various UI
      technologies like HTML, CSS, Javascript, jQuery, Typescript, OOJS, Angular
      (7-13), React etc.
    </p>
    <p class="text-md mb-sm">
      I prefer, myself to be recognized as a problem solver, rather than just a
      Developer. I try not to be restricted by technologies. I like following
      and am good at recognizing patterns, which helps me in getting into any
      new technology or framework pretty quickly. Over the time, in my current
      organization, there were times, when I was simultaneously working in
      multiple projects with different Tech stack. Context switching comes very
      naturally to me. When challenged, I give my all, to over come the
      challenge. I love to constantly refactor my code. When ever I learn a
      better way to do the thing, I have done in past, I push to refactor the
      code. I don't believe in the saying "Don't touch it if it's working".
    </p>
    <p class="text-md mb-sm">
      I speak my mind. I come up clearly on my thoughts on a matter, and give
      the reasoning behind my thinking (mostly during Sprint Meetings). I love
      to understand workflows (rather than just coding whats given to me) and
      try to make them better from an end user experience point of view.
      <!-- I have been working not just as a UI developer, but mostly as a Problem solver, which I pride myself upon.
      There has been many projects that I have been included in, irrespective of
      the technologies used, and my managers always had the faith that I will be able to perform and contribute,
      some times in multiple projects simultaneously, as I am very good
      at switching contexts and identifying and creating patterns in any technology I use. This has helped me
      build a image of a dependable, responsible and dynamic developer. Apart
      from these skills, my expertise in CSS have helped me carve a niche among other UI developers in our
      organization. -->
    </p>
    <p class="text-md mb-sm">
      I have done my B.Sc. in IT & Management and my MBA in IT and Finance.
      During my initial days, I used to work as a Plant Manager for a PDW
      (Packaged Drinking Water) plant, for brand Aquasure (from Aquaguard -
      Eureka Forbes), managing around 40 people. But I always had a liking for
      IT, since my graduation days, which made me shift my career into
      development profile. Better late than never.
    </p>
    <!-- <p class="text-md mb-sm">
      I started my development career with basic Javascript, jQuery and CSS stuffs, building reusable libraries
      for professional work and trying my hands on building libraries and games with
      Vanilla Javascript for my own learning purpose. When I shifted to a new project, I got a chance to work
      starting in Angular 7. But I was mostly in charge of developing wireframe and
      very basic UI components like configurable Menu List, Filterable Tree List etc. We worked in Kendo Angular
      UI library, so most component came from there, but in between we kept
      having requirements for some components which did not exist in the Kendo library like Indeterminate
      Progress bar, Circular Progress bar etc. I took it upon myself and started
      developing those components and later made them as a Library and published it to npm. Apart from these
      stuffs, I used to created reusable components like Modal component with custom
      features like Close on Escape, perform some action on Enter click, created wrappers around Kendo library
      component for easier upgrading etc, all these while being the sole in-charge
      for the styling part of the whole application. We had our own style guide, based on which I had created
      multiple LESS files, some to handle reusable components styling, some to
      handle style for Kendo components style overrides, media queries etc.
    </p>
    <p class="text-md mb-sm">
      When I moved to my next project, the initial one month I worked as a helping resource to the project. I
      was in charge of fine tuning, enhancing and restructuring the existing
      codebase. I spent a lot of time, creating patterns, flows and rewriting a lot of components, sometimes
      merging them to make reusable components as much as I can. Over time I was
      the sole developer contributing to the application for about 3+ years. Over the time, I built many
      patterns and highly reusable components, which made the development much easier and faster.
      I, single handedly, contributed in implementing Access Control framework, Annotation framework, Custom
      View Saving, Elastic Search, Notification, Chat, Dashboards, Custom Theming, etc apart
      from regular development of around 8 modules and more than a hundred reusable components. Also took care
      of application performance through lazy loading, tree shaking, moving most reusable codes into
      base classes etc. We were using the PrimeNG library for most UI components, so I created wrapper
      components around them to provide additional capabilities like adding custom control
      or action to those components. Created multiple pipes and directive to take care of localization using
      Angular's inbuilt services. This is the project which helped me learn Angular extensively.
      Later more people came into the UI team, whom I had to train and mentor since last one year so that I
      could move to new projects.
    </p> -->
  </div>
</ng-template>

<ng-template #projects>
  <h1 class="text-primary mb-sm">Projects</h1>
  <div class="scroll-section">
    <div class="ta-justify p-sm panel-enclosure">
      <app-expand-collapse
        class="d-block w-100"
        [(model)]="project1Expanded"
        [showPlus]="true"
        [headerStyleClass]="'project-sticky-header text-primary'"
        [icon]="'fa-solid fa-star'"
        [label]="'Recent Project: RADIUS'"
      >
        <p class="mt-sm fw-300">
          Description: Packaging MIS Application for large scale customers
        </p>
        <p class="mt-sm fw-300">
          Technology: Angular (10-13), HTML, SCSS, PrimeNG, NG Material,
          ChartJS, ng2-PdfViewer
        </p>
        <p class="mt-sm fw-300">
          Responsibility: Sole in-charge of UI Project for initial 3 years,
          later trained and managed team of 10 UI developers on same project
        </p>
        <ul class="ml-0">
          <li>
            Restructured whole UI codebase to match latest standards and utilize
            Angular provided features
          </li>
          <li>Made around 100+ robust and dynamic reusable components</li>
          <li>
            Landing Grid component (sort, filter, elastic filter, inline edit,
            pinning, reordering, resizing, saving state in view, column
            selection, compact and spacious mode, full screen mode, custom
            template on row expand insights panel, export records, pagination,
            custom template support in columns, datatype support for formatting
            in columns) being used at more than 120 places, Landing Card
            component at more than 30 places
          </li>
          <li>
            Created a dynamic grouped grid with all base grid functionalities
            (all above mentioned functionalities) with basic div structure and
            custom CSS
          </li>
          <li>
            Created multiple Functional Dashboards (Ample use of CSS Flex box
            and position:sticky), Customizable Home screen, Customize Theme
            component, Recently Accessed Menus, Fullscreen Directive etc.
          </li>
          <li>
            Implemented our custom Chat component and Annotation Framework,
            Access Management Framework, Hint Tour, Customizable Keyboard
            Shortcuts, Trello line columns with draggable Cards etc which were
            picked up and used in other applications
          </li>
          <li>
            Implemented form level data and operation restriction using Access
            Control and View Sharing framework,
          </li>
          <li>
            Created helper wrapper components or components inline with PrimeNG
            components to provide missing features, ex ColorBox (Custom color
            code input), TreeView (pass custom template and control zoom and
            spacing), Swap List (swap items between lists, supports multi
            swapping), Quill Text Editor for Notes, Enjoyhint for Hint Tour,
            ng2-Pdfviewer for PDF viewer and E-mail component,
          </li>
          <li>
            Provided custom date and time formatting, apart from Localization,
            using Angular's localeService and custom pipes & directives,
            integrated ChartJS charts for analytics views,
          </li>
          <li>Created patterns for ease of development in future modules</li>
          <li>
            Created wrapper components around all PrimeNG components for ease of
            control and upgrading
          </li>
          <li>
            Tree Shaking, Lazy Loading and moving reused code to base classes
          </li>
        </ul>
      </app-expand-collapse>
      <!-- <h3 class="project-sticky-header">
        <span class="mr-sm">
          <span class="fas fa-chevron-down"></span>
        </span>
        <span>Recent Project: RADIUS</span>
      </h3> -->
    </div>
    <div class="ta-justify p-sm panel-enclosure mt-md">
      <app-expand-collapse
        class="d-block w-100"
        [(model)]="project2Expanded"
        [showPlus]="true"
        [headerStyleClass]="'project-sticky-header text-primary'"
        [icon]="'fa-solid fa-clock'"
        [label]="'Past Projects (1): VISION (PSV)'"
      >
        <p class="mt-sm fw-300">
          Description: Printing MIS Application for entry level customers
        </p>
        <p class="mt-sm fw-300">
          Technology: Angular (7-10), HTML, SCSS, PrimeNG, NG Material, Kendo
          Angular
        </p>
        <p class="mt-sm fw-300">
          Responsibility: Provide wireframes, develop reusable components,
          responsible for maintaining style of application
        </p>
        <ul class="ml-0">
          <li>Learnt Angular from scratch for this project.</li>
          <li>
            Started contributing with providing wireframes, after creating new
            components.
          </li>
          <li>
            Later started creating reusbale components, like Popups, Number &
            Date format pipes, etc
          </li>
          <li>
            Took care of the styling of the whole application, as per the style
            guide, maintained proper SCSS structure, mixins etc
          </li>
          <li>
            Was responsible for doing R&D when any new requirement came that was
            not present in the patterns, ex implementing new component,
            implementing new features like filter in tree component etc
          </li>
          <li>
            Created few reusbale components, not present (either component or
            functionality we were looking for) in other UI Libraries at the
            time, created a NPM library out of same and hosted in npm
            <a target="_blank" href="https://www.npmjs.com/package/ez-ng-lib">(ez-ng-lib)</a>,
            Components such as Reorder List, Listbox, Round Progress, Progress
            bar, Custom Tabbar etc
          </li>
          <li>
            Helped team mates share load by taking charge of their development
            requirements.
          </li>
          <li>
            Helped in lazy loading modules, creating customizable Home screen,
            Custom Menu selection, etc
          </li>
        </ul>
      </app-expand-collapse>
      <!-- <h3 class="project-sticky-header">
        <span class="mr-sm">
          <span class="fas fa-chevron-down"></span>
        </span>
        <span>Recent Project: RADIUS</span>
      </h3> -->
    </div>
  </div>
</ng-template>
