<div class="container p-md">
  <div class="page-content">
    <div class="left-section p-md pr-md pt-lg pb-lg">
      <div class="side-panel center">
        <!-- <h3 class="primary-color mb-lg">{{name | uppercase}}</h3> -->
        <img class="profile-picture circle mb-md" alt="Profile image" src="../assets/images/avatar.jpg"/>
        <h3 class="mb-sm">Susobhan Dash</h3>
        <div class="fw-500 mb-sm text-primary">Principal Engineer, UI</div>
      </div>
      <div class="detail-panel"></div>
    </div>
    <div class="right-section">

    </div>
  </div>
</div>
