<!-- <ng-template #projects> -->
    <h1 class="text-primary mb-sm">Projects</h1>
    <div class="scroll-section">
      <div class="ta-justify p-sm panel-enclosure mb-md" *ngFor="let item of projects">
        <app-expand-collapse
          class="d-block w-100"
          [(model)]="item.expanded"
          [showPlus]="true"
          [headerStyleClass]="'project-sticky-header text-primary'"
          [icon]="item.icon"
          [label]="item.label"
        >
          <p class="mt-sm fw-300">
            Description: {{item.description}}
          </p>
          <p class="mt-sm fw-300">
            Technology: <span *ngFor="let tech of item.technology">{{tech}}, </span>
          </p>
          <p class="mt-sm fw-300">
            Responsibility: {{item.responsibilty}}
          </p>
          <ul class="ml-0">
            <li *ngFor="let detail of item.detail">
              {{detail}}
            </li>
          </ul>
        </app-expand-collapse>
      </div>
    </div>
  <!-- </ng-template> -->